	/**
	* 8.0 Media Queries
	* ----------------------------------------------------------------------------
	*/
	@media only screen and (max-width: 1800px) {
		.site-footer:before,
		.site-header:after {
			display: none;
		}

	}
	@media only screen and (max-width: 1430px) {
		/*.blog-posts-content,*/
		.portfolio-container {
			margin: 0;
		}

	}
	@media only screen and (max-width: 1200px) {
		.site {
		    width: 960px;
		}					
		#secondary,
		.singleproduct-sidebar {
			width: 207px;
		}
		.brands.list ul li {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 32.8% !important;
		}
		.hot-porduct .product {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 33.33% !important;

		}
		.woofeature .woo-grid .woocommerce ul.products li.product,
		.woonew .woo-grid .woocommerce ul.products li.product,
		.woobest .woo-grid .woocommerce ul.products li.product {
			display: none;
		}
		.primary-sidebar .widget {
			margin: 0 0 20px;
		}
		.custom-testimonial .testmonial-image {
			margin: 0;
		}
		.custom-testimonial .read-more {
			margin: 15px 0;
		}
		.products_block .owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.products_block .owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
		.home-product {
			margin: 0 15px !important;
		}
		.owl-theme .owl-buttons div {
			top: 40%;
		}
		.testimonial-top blockquote {
			line-height: 28px;
		}
		.single-portfolio .read-more a {
			padding: 10px 10px;
		}

		.post-navigation a.prev-post {
			float: left;
		}
		.post-navigation a.next-post {
			margin-top: 15px;
			float: left;
		}
		.blog-posts-content .style-2 .post-title a {
			font-size: 14px;
		}
		.blog-posts-content .style-2 .post-title {
			margin: 5px 0;
		}
		.tmpmela-single-banner .text2.static-text {
			margin-bottom: 20px;
		}
		.tmpmela-single-banner .static-wrapper {
			top: 30%;
		}
		
		.header-logo img {
		    width: auto;
		}
		.mega-menu ul li a {
		    padding-left: 15px;
		    padding-right: 15px;
		}			
		.header-cart .togg:before {
			left: -20px;
		}		
		.header-right {
		    width: 80%;
		}
		.header-search {
			width: 45%;
		}
		.footer-middle .widget_accepted_payment_methods  {
			width: 24%;
		}
		.footer-middle .follow-us{
			width: 70%;
		}
		.testmonial-text:before {
			right: -15px;
		}
		.cz-service {
		    text-align: center;
		}

		.count-down.product-count-down {
		    padding: 0px 5px;
		    bottom: 5px;
		}
		.count-down .countbox.hastime{
		    padding: 0px 0px;
		}
		/**********video***********/
		.video-inner span.text1 {
		    font-size: 24px;
		    line-height: 32px;
		}
		.video-inner span.text2 {
		    font-size: 35px;
		    line-height: 35px;
		}
		.video-button {
		    background-size: 100%;
		    width: 38px;
		    height: 38px;
		    margin-top: 12px;
		}
		/****************/

	}
	@media only screen and (min-width: 980px) and (max-width: 1200px) {
		.service-list .content {
			text-align: center;
			width: auto;
			padding-left: 0;
			float: none;
		}
		.service-content .icon-image {
			float: none;
			display: inline-block;
			margin: 0px auto;
		}
		.service-1 .service-content {
			text-align: center;
		}
		.service-3 .service-content {
			text-align: center;
		}
		.right-cms .vc_column-inner {
			padding-left: 30px !important;
		}
		.cms-text .static-text {
			font-size: 25px;
			line-height: 35px;
		}
		.first-widget {
		    padding-left: 0px;
		    padding-right: 15px;
		}
		.widget_newsletterwidget {
		    padding-left: 70px;
		}
		.widget_newsletterwidget .tnp-widget {
		    width: 56%;
		}
		/**************special product*************/
		.home-all-carousel .product-images-detail .product-details .product-images-slider {
		    width: 45%;
		}
		.home-all-carousel .product-images-detail .product-details .product-content {
		    width: 55%;
    		padding: 5px 5px 15px;
		}
		.countbox .timebox {
			width: 50px;
			margin-right: 5px;
		}

}
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		/*****************cms******************/	
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper, 
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper {
			left: 47%;
			top: 15%;
			right: 5px;
		}
		.cms-banner-item.align-left .cms-banner-inner .static-wrapper{left:20px;}

		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text1.static-text{  font-size: 20px;}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text{    font-size: 24px;}
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
			font-size: 30px;
			line-height: 35px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .cms-text .static-inner {
		    margin-bottom: 20px;
		}
	}

	@media only screen and (max-width: 979px) {
		/*header*/
		.offer-icon {
			margin-right: 0;
		}
		.topbar-link:before {
			background-position: center -553px;
			padding: 0;
			height: 30px;
			width: 30px;
			background-size: 103%;
		}
		.topbar-link:hover:before {
			background-position: center -632px;
		}
		.woocommerce-product-search, .header-search .search-form {top: 60px;}
		.header-welcome {
			float: none;
			display: inline-block;
		}
		.header-right {
			margin-top:4px; 
			width:auto;
		    margin-right: 50px;
		}
		/***search***/
		.header-search {
			float: right;
		    height: 30px;
		    width: 25px;
		    margin-right: 20px;
		    margin-top: 3px;
		}
		.header-search .header-toggle {
		    display: inline-block;
		    height: 30px;
		    width: 30px;
		    background-size: 105%;
		    background-position: center -361px;
		}
		.header-search .header-toggle:hover {
			background-position: center -409px;
		}
		
		.header-search .woocommerce-product-search, .header-search .search-form {
			position: absolute;
			right: 0;
			width: 270px;
			display: none
		}
		.header-search .woocommerce-product-search .search-field {
			padding-left: 15px;
			border: 2px solid #917545;
			height: 45px;
			padding-right: 40px;
			background: #fff;
			border-radius: 0;
		}
		.header-search .woocommerce-product-search button[type="submit"] {
			color: #000000;
			width: 45px;
			background-image: url(images/codezeel/nav-icon.png);
			background-color: transparent;
			background-position: center -401px;
			background-attachment: scroll;
			background-repeat: no-repeat;
			height: 45px;
			display: inline-block;
			padding: 0;
			font-size: 0;
		}
		.header-search .woocommerce-product-search button[type="submit"]:hover {
			background-position: center -456px;
			background-color: transparent;
		}
		.header-search.active .header-toggle {
			background-position: center -536px;
    		background-size: unset;
		}
		.header-search.active .header-toggle:hover {
			background-position: center -585px;
		}
		
		.cart-price .label,
		.header-cart .shopping_cart .amount,
		.cart-text {
			display: none;
		}		
		/****************** Content ******************/		
		.page-title-inner,
		.full-width .inner-container,

		.main-content-inner{margin:0;}
		#secondary,
		#primary {
			width: 100%;
			margin: 0 0 30px;
			float: none;
			clear: both;
		}
		.blog-posts-content .post-title a,
		.single-portfolio .portfolio-title a {
			font-size: 15px;
			line-height: 15px;
		}
		.woocommerce .single-product-full.side-widget-area #content .product div.entry-summary,
		.woocommerce .single-product-full #content .product div.entry-summary {
			width: 100%;
		}
		.singleproduct-sidebar {
			float: left;
			margin: 0;
		}
		.col-main {
			width: 100%;
		}
		.woocommerce .single-product-full #content .product div.images,
		.woocommerce .single-product-sidebar #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page .single-product-sidebar #content div.product div.images,
		.primary-sidebar .widget_top_rated_products .amount {
			display: block;
		}
		.product-slider {
			padding: 5px;
		}
		.address-text {
			width: 100%;
		}
		.widgets-brand .widget-title {
			display: block;
		}
		.full-width .blog .post,.full-width .blog-list-container .item{    width: 100% !important;}
		.full-width .blog article.post:nth-child(2n+1), .full-width .blog-list-container .item:nth-child(2n+1),
		.full-width .blog article.post:nth-child(2n+2), .full-width .blog-list-container .item:nth-child(2n+2){
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		
		/**************************  product-categories ******************************/

		.home .cz-categories,.cz-categories {
		    width: 200px !important;
		}
		.product-categories .hitarea:before,
		.widget_categories .hitarea:before {
			font-size: 10px;
			margin: 5px 0 0;
			text-align: right;
		}
		.product-categories .expandable-hitarea:before,
		.widget_pages .expandable-hitarea:before,
		.widget_nav_menu .expandable-hitarea:before,
		.widget_categories .expandable-hitarea:before {
			content: "\f067";
		}
		.product-categories .collapsable-hitarea:before,
		.widget_pages .collapsable-hitarea:before,
		.widget_nav_menu .collapsable-hitarea:before,
		.widget_categories .collapsable-hitarea:before {
			content: "\f068";
		}
		.product-categories .dc-mega-icon {
			display: none;
		}
		.woocommerce .single-product-full #content .product div.images:before{display:none;}

		/******************  CSS for all sidebar and footer toggle ******************/
		.primary-sidebar .widget_black_studio_tinymce .textwidget,
		.primary-sidebar .widget > .toggle-block,
		.primary-sidebar .widget_price_filter .toggle-block,
		.primary-sidebar .widget_shopping_cart_content,
		.primary-sidebar .widget_pages > ul,
		.primary-sidebar .widget ul.toggle-block {
			padding: 0 10px 10px;
		}
		.title-outer {
			cursor: pointer;
			position: relative;
		}
		.primary-sidebar .widget {
			margin-bottom: 10px;
			padding: 0;
		}
		.toggled-on .title-outer:before {
			content: "\f106";
			line-height: 11px;
		}
		.title-outer:before,
		.toggled-off .title-outer:before {
			content: "\f107";
			position: absolute;
			right: 10px;
			font-family: 'FontAwesome';
			font-size: 20px;
			color: #ffffff;
			top: 0;
			bottom: 0;
			height: 14px;
			width: 14px;
			text-align: center;
			z-index: 9;
			line-height: 15px;
			margin: auto;
		}
		.primary-sidebar .widget .title-outer:before,
		.primary-sidebar .widget .toggled-off .title-outer:before {
			color: #000000;
			right: 0;
		}
		.footer-widget:before{display:none;}
		.toggled-off .toggle-block,
		.primary-sidebar .toggle-block,
		.site-footer .toggle-block,
		.primary-sidebar .widget_shopping_cart_content,
		.primary-sidebar .toggled-off .widget_shopping_cart_content,
		.toggle-content .toggle-block, .toggled-off .newsletter-text {
			display: none;
		}
				
		.toggled-on .toggle-block,
		.primary-sidebar .toggled-on .widget_shopping_cart_content,.toggled-on .newsletter-text {
			display: block;
		}
		.toggle-content .toggle_title {
			display: block;
		}
		.toggle-content .toggle_title {
			background-color: #f5f5f5;
			display: block;
			text-align: left;
		}
		.toggle-content .toggled-on .main-ul {
			display: block;
		}
		.toggle-content .toggled-off .main-ul,
		.toggle-content .main-ul {
			display: none;
		}
		.site-footer .socialcms .toggle-block {
		    display: inline-block;
		    text-align: center;
		    margin: 10px 0px 15px;
		}
		.site-footer .footer-widget .widgets-follow-us.toggled-on .widget .widget_accepted_payment_methods .accepted-payment-methods {
			display: block;
		}
		.footer-middle .widgets-follow-us, .footer-middle .widget_media_gallery ,.footer-middle .widget_accepted_payment_methods,
		.footer-middle .follow-us {
			width: 100%;
			float: none;
			text-align: left;
			display: inline-block;
			margin: 0;
		}
		.footer-middle .widget_accepted_payment_methods {
			margin-bottom: 20px;
		}
		.widgets-follow-us {
		    padding: 0;
		}
		/******************  CSS for all sidebar and footer toggle ******************/
		.site-content .entry-thumbnail img {
			width: 100%;
		}
		.team-posts-content.posts-content .container {
			width: 50%;
		}
		.woocommerce .single-product-full .woocommerce-main-image.zoom,
		.single-product-sidebar .woocommerce-main-image.zoom {
			float: right;
			padding: 0;
			width: 86%;
		}
		.home-blog .two_fifth,
		.home-blog .three_fifth {
			width: 100%;
		}
		.home-blog .blog-posts-content {
			margin: 0;
		}
		.primary-sidebar .blog-posts-content {
			padding: 32px 0 0;
		}
		#secondary .post-content-inner {
			padding: 0 5px;
		}
		.woocommerce ul.products li.product:hover .product-detail-wrapper,
		.product-detail-wrapper {
			opacity: 1;
			-khtml-opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1;
		}
		.popup-video .one_third_inner.content_inner {
			margin: 0 !important;
			width: 100% !important;
		}
		.popup-video .two_third,
		.popup-video .one_third {
			width: 100%;
		}
		.newletter-block .parallax-text-wrapper,
		.newletter-block .one_third {
			width: 100%;
		}
		.gallery-item,
		.portfolio-filter-container .item,
		.portfolios li {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 50% !important;
		}
		.footer-middle .gallery-columns-3 .gallery-item {
			width: 100% !important;
		}
		.footer-middle .gallery {
			margin-bottom: 0;
		}
		/****************** Footer ******************/
		.footer-container {
    		padding-left: 15px;
    		padding-right: 15px;
		}
		.footer-widget {
			background: transparent;
		}
		.footer-before-inner {
		    padding: 15px 0px 16px;
		}
		.first-widget,
		.second-widget{
			text-align: left;
		}
		.widget_newsletterwidget {
		    padding: 0;
		    text-align: center;
		}
		.newsletter-text {		
    		float: none;
    		padding-left: 70px;
    		margin-bottom: 15px;
		}
		.site-footer .widget_newsletterwidget .title-outer .widget-title {
			text-align: center;
			float: none;
		}
		.site-footer .widget_newsletterwidget .title-outer{
			float: none;
		    display: inline-block;
		    width: 100%;
		    clear: both;
		    margin: 0 auto;
		    text-align: center;
		}
		.footer-widget.toggled-on .accepted-payment-methods {
			text-align: center;
		}
		.widget_search {
			display: none;
		}
		.footer_top {
			margin: 30px 0;
		}
		.home-about-me {
			text-align: center;
		}
		.tmpmela-about-description {
			line-height: 24px;
		}
		.footertop .custom-text-container .text {
			margin: 0;
			text-align: center!important;
		}
		.site-footer h3.widget-title {
			margin: 0;
			padding: 10px 0;
		}
		.site-footer .widgets-follow-us h3.widget-title {
			display: block;
		}
		.footer-center {
		    padding: 20px 0px 25px;
		}
		#footer-widget-area {
			display: inline-block;
			padding: 20px 0px 0px;
			vertical-align: top;
		}
		.footer-top .widgets-follow-us .widget-title{
			display: block;
		}
		.site-footer .title-outer:before,
		.site-footer.toggled-off .title-outer:before {
			right: 0px;
		}
		.footer-widget,
		.fifth-widget.footer-widget,
		.first-widget.footer-widget,
		.follow-us,
		.widget.widgets-footercontact {
			min-height: inherit;
			width: 100%;
			padding: 0 !important;
			border: none;
			margin: 0;
		}
		.site-footer .toggle-block {
			margin: 0px 0 10px;
			float: left;
			width: 100%;
		}
		.widgets-footercontact h3.widget-title {
			display: block;
		}
		.toggled-on .newslettre-text {
			display: block;
		}
		.tnp-field.tnp-field-button{float:left;}
		.site-footer .toggle-block {
			margin: 20px 0 10px;
		}
		.site-footer h3.widget-title {
			line-height: 20px;
		}
		.footer-widget .widget.widget_accepted_payment_methods {
			margin: 15px 0 0;
		}
		.footer-widget .widget.widget_newsletterwidget {
		    display: block;
		    margin: 0;
			padding: 0;
		}
		.site-footer .address_content .contact_address {
			display: block;
		}
		.site-footer .footer-before .textwidget {
			display: inline-block;
		}
		.site-footer .footer-middle .title-outer:before, 
		.site-footer.footer-middle .toggled-off .title-outer:before,
		.site-footer .widgets-blog-posts .title-outer:before,
		.site-footer .widgets-blog-posts .toggled-off .title-outer:before,
		.site-footer .widget_newsletterwidget .title-outer:before,
		.site-footer .widget_newsletterwidget .toggled-off .title-outer:before{
			display:none;
		}
		.footer-widget .widget.widget_newsletterwidget .tnp-widget.toggle-block {
			margin-top: 0;
		}
		.site-footer .widget_newsletterwidget .toggle-block {
		    display: block;
		    margin: 0;
		    padding: 0;
		}
		/*footer cms*/
		.service-1 .service-content,
		.service-3 .service-content,
		.service-list .content {
			text-align: center;
		}
		.service-list {
			float: none;
			margin: 0;
			width: 100%;
		}
		.service-content .icon-image {
			float: none;
			display: inline-block;
			margin: 0;
		}
		.service-list .content {
			width: auto;
			float: none;
			padding: 0 5px;
			border-left: none;
			box-sizing: border-box;
		}
		.footer-widget .widget .title-outer .widget-title:after {
			bottom: 0px;
			display: none;
		}
		.footer-menu-links ul {
			margin-bottom: 20px;
		}
		.widgets-footercontact .widget-title {
			display: block;
		}
		.single-portfolio .read-more a {
			padding: 10px 10px;
		}
		.custom-testimonial .owl-theme .owl-controls {
			position: static;
			width: 60px;
			margin: 10px auto 0;
		}
		.custom-testimonial {
			width: 100%;
			padding: 0px;
			margin-top: 30px;
		    margin-bottom: 10px;
		}
		.style-1 .testimonial-wrapper {
		    margin-bottom: 0;
		}
		.testmonial-text:before{    right: 0px;}
		/****************** Start Primary navigation ******************/
		#primary-sidebar .toggled-on .toggle-block,
		#primary-sidebar .toggled-on .widget_shopping_cart_content
		#primary-sidebar .toggled-off .textwidget {
			display: none;
		}
		.mobile-menu {
			display: block;
		}
		.mega-menu {
			display: none;
		}
		
		/****Header****/
		.header-logo {
			display: none;
		}
		#site-navigation:before{display:none;}
		.main-navigation {
			float: left;
		    padding: 0;
		    margin: 0px;
		}
		/**Footer**/
		
		.site-info {
			position: static;
		}
		.socialcms {
		    float: none;
		}
		.footer-bottom-right {
		    float: none;
		}
		.paymentcms {
			float: none;
		}
		.widgets-blog-posts .owl-theme .owl-buttons {
		    right: 0;
		}
		/*********************  cms ********************/
		.cms-banner-item.style-1.align-center .cms-banner-inner .static-wrapper, 
		.cms-banner-item.style-2.align-center .cms-banner-inner .static-wrapper{
			top: 10px;
			bottom: auto;
		}
		/**********video***********/
		.video-inner span.text1 {
		    font-size: 20px;
		    line-height: 28px;
		    margin-bottom: 12px;
		}
		.video-inner span.text2 {
		    font-size: 26px;
    		line-height: 30px;
		}
		/****************/
	}

	

	