	/**
	* 8.0 Media Queries
	* ----------------------------------------------------------------------------
	*/
	@media only screen and (max-width: 1800px) {
		.site-footer:before,
		.site-header:after {
			display: none;
		}
		
		.owl-theme .owl-buttons div.owl-prev,
		.products_block .owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.owl-theme .owl-buttons div.owl-next,
		.products_block .owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
	}
	@media only screen and (max-width: 1430px) {
		/*.blog-posts-content,*/
		.portfolio-container {
			margin: 0;
		}

	}
	@media only screen and (min-width: 1201px) and (max-width: 1430px) {
		.site {
		    width: 1170px;
		}
		.page-title-inner,
		.main-content-inner,
		.theme-container,
		.full-width .inner-container,
		.main-content.left-sidebar,
		.site-footer .inner-container,
		.main-inner-container,
		.full-width .page-title,
		.main-content.box-page,
		.middle-container {
			width: 1110px;
		}
		.home-product {
			margin: 0 15px !important;
		}
		.owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
		article.post {
			margin: 0 0 20px;
		}
		.products_block .owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.products_block .owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
		#brand-products .owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
		#brand-products .owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.team-posts-content.staff-page.posts-content .owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.team-posts-content.staff-page.posts-content .owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
		.team-posts-content.staff-page.posts-content {
			margin: 0;
		}
		.single-portfolio .read-more a {
			padding: 6px 12px;
		}
		.woocommerce div.product .woocommerce-tabs,
		.woocommerce-page div.product .woocommerce-tabs {
			padding: 30px 15px;
		}
		.upsells,
		.related,
		.cross-sells {
			margin: 0;
		}
		.cms-text .static-text {
			font-size: 30px;
		}
		/***************cms**************/
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper {
			top: 50px;
			bottom: auto;
		}
		.cms-banner-item.align-right .cms-banner-inner .static-wrapper {
			left: 50%;
    		right: 10px;
		}
		.cms-banner-item.style-3.align-right .cms-banner-inner .static-wrapper {
		    left: 54%;
		}
		.style-2 .static-wrapper{top:25px}
		.cms-banner-item.style-3 .cms-banner-inner .static-wrapper .cms-text .static-inner .static-text {
			font-size: 17px;
			padding-bottom: 3px;
		}
		.cms-banner-item.align-left .cms-banner-inner .static-wrapper{ left: 15px;}
		.cms-banner-item.style-3 .cms-banner-inner .static-wrapper .cms-text a.link-text{margin-top:5px;}
		
	}
	@media only screen and (max-width: 1430px) {
		#secondary {
			width: 262px;
		}
		#primary {
			width: 828px;
		}
		.woocommerce .single-product-full #content .product div.entry-summary{width:49%;}
		.header-right {
		    width: 80%;
		}
	}
	@media only screen and (max-width: 1200px) {
		.site {
		    width: 960px;
		}					
		.page-title-inner,
		.main-content-inner,
		.theme-container,
		.full-width .inner-container,
		.main-content.left-sidebar,
		.site-footer .inner-container,
		.main-inner-container,
		.full-width .page-title,
		.main-content.box-page,
		.middle-container {
			width: 900px;
		}
		#primary {
			width: 670px;
		}
		#secondary,
		.singleproduct-sidebar {
			width: 207px;
		}
		.woocommerce ul.products li.product,
		.woocommerce-page ul.products li.product,
		.brands.list ul li {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 32.8% !important;
		}
		.hot-porduct .product {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 33.33% !important;

		}
		.woofeature .woo-grid .woocommerce ul.products li.product,
		.woonew .woo-grid .woocommerce ul.products li.product,
		.woobest .woo-grid .woocommerce ul.products li.product {
			display: none;
		}
		.primary-sidebar .widget {
			margin: 0 0 20px;
		}
		.custom-testimonial .testmonial-image {
			margin: 0;
		}
		.custom-testimonial .read-more {
			margin: 15px 0;
		}
		.owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
		.products_block .owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.products_block .owl-theme .owl-buttons div.owl-next {
			right: 0;
		}
		.home-product {
			margin: 0 15px !important;
		}
		.owl-theme .owl-buttons div {
			top: 40%;
		}
		.testimonial-top blockquote {
			line-height: 28px;
		}
		.single-portfolio .read-more a {
			padding: 10px 10px;
		}
		.woocommerce .single-product-full #content .product div.entry-summary {
			width: 47%;
		}
		.post-navigation a.prev-post {
			float: left;
		}
		.post-navigation a.next-post {
			margin-top: 15px;
			float: left;
		}
		.blog-posts-content .style-2 .post-title a {
			font-size: 14px;
		}
		.blog-posts-content .style-2 .post-title {
			margin: 5px 0;
		}
		.tmpmela-single-banner .text2.static-text {
			margin-bottom: 20px;
		}
		.tmpmela-single-banner .static-wrapper {
			top: 30%;
		}
		
		.header-logo img {
		    width: auto;
		    max-height: 40px;
		}
		.mega-menu ul li a {
		    padding-left: 15px;
		    padding-right: 15px;
		}			
		.header-cart .togg:before {
			left: -20px;
		}		
		.header-right {
		    width: 80%;
		}
		.header-search {
			width: 45%;
		}
		.footer-middle .widget_accepted_payment_methods  {
			width: 24%;
		}
		.footer-middle .follow-us{
			width: 70%;
		}
		.testmonial-text:before {
			right: -15px;
		}
		.cz-service {
		    text-align: center;
		}

		.count-down.product-count-down {
		    padding: 0px 5px;
		    bottom: 5px;
		}
		.count-down .countbox.hastime{
		    padding: 0px 0px;
		}
		/**********video***********/
		.video-inner span.text1 {
		    font-size: 24px;
		    line-height: 32px;
		}
		.video-inner span.text2 {
		    font-size: 35px;
		    line-height: 35px;
		}
		.video-button {
		    background-size: 100%;
		    width: 38px;
		    height: 38px;
		    margin-top: 12px;
		}
		/****************/

	}
	@media only screen and (min-width: 980px) and (max-width: 1200px) {
		.service-list .content {
			text-align: center;
			width: auto;
			padding-left: 0;
			float: none;
		}
		.service-content .icon-image {
			float: none;
			display: inline-block;
			margin: 0px auto;
		}
		.service-1 .service-content {
			text-align: center;
		}
		.service-3 .service-content {
			text-align: center;
		}
		.right-cms .vc_column-inner {
			padding-left: 30px !important;
		}
		.cms-text .static-text {
			font-size: 25px;
			line-height: 35px;
		}
		.first-widget {
		    padding-left: 0px;
		    padding-right: 15px;
		}
		.widget_newsletterwidget {
		    padding-left: 70px;
		}
		.widget_newsletterwidget .tnp-widget {
		    width: 56%;
		}
		/**************special product*************/
		.home-all-carousel .product-images-detail .product-details .product-images-slider {
		    width: 45%;
		}
		.home-all-carousel .product-images-detail .product-details .product-content {
		    width: 55%;
    		padding: 5px 5px 15px;
		}
		.countbox .timebox {
			width: 50px;
			margin-right: 5px;
		}

}
	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		/*****************cms******************/	
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper, 
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper {
			left: 47%;
			top: 15%;
			right: 5px;
		}
		.cms-banner-item.align-left .cms-banner-inner .static-wrapper{left:20px;}

		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text1.static-text{  font-size: 20px;}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text{    font-size: 24px;}
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
			font-size: 30px;
			line-height: 35px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .cms-text .static-inner {
		    margin-bottom: 20px;
		}
	}
	@media only screen and (min-width: 1024px) and (max-width: 1200px) {
		
	}
@media only screen and (min-width: 980px) and (max-width: 1023px) {
		
		.woocommerce .single-product-full.side-widget-area #content .product div.entry-summary {
			width: 68%;
		}
		.woocommerce .single-product-full #content .product div.entry-summary {
			width: 100%;
		}
		.woocommerce .single-product-full #content .product div.images,
		.woocommerce .single-product-sidebar #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page .single-product-sidebar #content div.product div.images,
		.woocommerce-page div.product div.images {
			float: none;
			margin: 0 auto 50px;
			width: 60%;
		}
		.woocommerce .single-product-full #content .product div.images:before{display:none;}
	}
	@media only screen and (max-width: 979px) {
		.site {
		    width: auto;
		    max-width: 100%;
		    margin: 0px 30px;
		}
		/*header*/
		.offer-icon {
			margin-right: 0;
		}
		.topbar-link:before {
			background-position: center -553px;
			padding: 0;
			height: 30px;
			width: 30px;
			background-size: 103%;
		}
		.topbar-link:hover:before {
			background-position: center -632px;
		}
		.woocommerce-product-search, .header-search .search-form {top: 60px;}
		.header-welcome {
			float: none;
			display: inline-block;
		}
		.header-right {
			margin-top:4px; 
			width:auto;
		    margin-right: 50px;
		}
		/***search***/
		.header-search {
			float: right;
		    height: 30px;
		    width: 25px;
		    margin-right: 20px;
		    margin-top: 3px;
		}
		.header-search .header-toggle {
		    display: inline-block;
		    height: 30px;
		    width: 30px;
		    background-size: 105%;
		    background-position: center -361px;
		}
		.header-search .header-toggle:hover {
			background-position: center -409px;
		}
		
		.header-search .woocommerce-product-search, .header-search .search-form {
			position: absolute;
			right: 0;
			width: 270px;
			display: none
		}
		.header-search .woocommerce-product-search .search-field {
			padding-left: 15px;
			border: 2px solid #917545;
			height: 45px;
			padding-right: 40px;
			background: #fff;
			border-radius: 0;
		}
		.header-search .woocommerce-product-search button[type="submit"] {
			color: #000000;
			width: 45px;
			background-image: url(images/codezeel/nav-icon.png);
			background-color: transparent;
			background-position: center -401px;
			background-attachment: scroll;
			background-repeat: no-repeat;
			height: 45px;
			display: inline-block;
			padding: 0;
			font-size: 0;
		}
		.header-search .woocommerce-product-search button[type="submit"]:hover {
			background-position: center -456px;
			background-color: transparent;
		}
		.header-search.active .header-toggle {
			background-position: center -536px;
    		background-size: unset;
		}
		.header-search.active .header-toggle:hover {
			background-position: center -585px;
		}
		
		.cart-price .label,
		.header-cart .shopping_cart .amount,
		.cart-text {
			display: none;
		}		
		/****************** Content ******************/
		
		.page-title-inner,
		.main-content-inner,
		.theme-container,
		.full-width .inner-container,
		.main-content.left-sidebar,
		.site-footer .inner-container,
		.main-inner-container,
		.full-width .page-title,
		.main-content.box-page,
		.middle-container {
			width: auto;
			max-width: 100%;
			margin: 0px 15px;
		}
		.main-content-inner{margin:0;}
		.single-product .main-content-inner{margin: 0px 15px;}
		#secondary,
		#primary {
			width: 100%;
			margin: 0 0 30px;
			float: none;
			clear: both;
		}
		.blog-posts-content .post-title a,
		.single-portfolio .portfolio-title a {
			font-size: 15px;
			line-height: 15px;
		}
		.woocommerce .single-product-full.side-widget-area #content .product div.entry-summary,
		.woocommerce .single-product-full #content .product div.entry-summary {
			width: 100%;
		}
		.singleproduct-sidebar {
			float: left;
			margin: 0;
		}
		.col-main {
			width: 100%;
		}
		.page-title .entry-title-main {
			font-size: 18px;
		}
		.breadcrumbs,
		.woocommerce .woocommerce-breadcrumb,
		.woocommerce-page .woocommerce-breadcrumb {
			font-size: 12px;
		}
		.woocommerce .single-product-full #content .product div.images,
		.woocommerce .single-product-sidebar #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page .single-product-sidebar #content div.product div.images,
		.woocommerce-page div.product div.images {
			float: none;
			margin: 0 auto 20px;
			width: 74%;
		}
		.primary-sidebar .widget_top_rated_products .amount {
			display: block;
		}
		.product-slider {
			padding: 5px;
		}
		.address-text {
			width: 100%;
		}
		.widgets-brand .widget-title {
			display: block;
		}
		.full-width .blog .post,.full-width .blog-list-container .item{    width: 100% !important;}
		.full-width .blog article.post:nth-child(2n+1), .full-width .blog-list-container .item:nth-child(2n+1),
		.full-width .blog article.post:nth-child(2n+2), .full-width .blog-list-container .item:nth-child(2n+2){
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		
		/**************************  product-categories ******************************/

		.home .cz-categories,.cz-categories {
		    width: 200px !important;
		}
		.product-categories .hitarea:before,
		.widget_categories .hitarea:before {
			font-size: 10px;
			margin: 5px 0 0;
			text-align: right;
		}
		.product-categories .expandable-hitarea:before,
		.widget_pages .expandable-hitarea:before,
		.widget_nav_menu .expandable-hitarea:before,
		.widget_categories .expandable-hitarea:before {
			content: "\f067";
		}
		.product-categories .collapsable-hitarea:before,
		.widget_pages .collapsable-hitarea:before,
		.widget_nav_menu .collapsable-hitarea:before,
		.widget_categories .collapsable-hitarea:before {
			content: "\f068";
		}
		.product-categories .dc-mega-icon {
			display: none;
		}
		.woocommerce .single-product-full #content .product div.images:before{display:none;}

		/******************  CSS for all sidebar and footer toggle ******************/
		.primary-sidebar .widget_black_studio_tinymce .textwidget,
		.primary-sidebar .widget > .toggle-block,
		.primary-sidebar .widget_price_filter .toggle-block,
		.primary-sidebar .widget_shopping_cart_content,
		.primary-sidebar .widget_pages > ul,
		.primary-sidebar .widget ul.toggle-block {
			padding: 0 10px 10px;
		}
		.title-outer {
			cursor: pointer;
			position: relative;
		}
		.primary-sidebar .widget {
			margin-bottom: 10px;
			padding: 0;
		}
		.toggled-on .title-outer:before {
			content: "\f106";
			line-height: 11px;
		}
		.title-outer:before,
		.toggled-off .title-outer:before {
			content: "\f107";
			position: absolute;
			right: 10px;
			font-family: 'FontAwesome';
			font-size: 20px;
			color: #ffffff;
			top: 0;
			bottom: 0;
			height: 14px;
			width: 14px;
			text-align: center;
			z-index: 9;
			line-height: 15px;
			margin: auto;
		}
		.primary-sidebar .widget .title-outer:before,
		.primary-sidebar .widget .toggled-off .title-outer:before {
			color: #000000;
			right: 0;
		}
		.footer-widget:before{display:none;}
		.toggled-off .toggle-block,
		.primary-sidebar .toggle-block,
		.site-footer .toggle-block,
		.primary-sidebar .widget_shopping_cart_content,
		.primary-sidebar .toggled-off .widget_shopping_cart_content,
		.toggle-content .toggle-block, .toggled-off .newsletter-text {
			display: none;
		}
				
		.toggled-on .toggle-block,
		.primary-sidebar .toggled-on .widget_shopping_cart_content,.toggled-on .newsletter-text {
			display: block;
		}
		.toggle-content .toggle_title {
			display: block;
		}
		.toggle-content .toggle_title {
			background-color: #f5f5f5;
			display: block;
			text-align: left;
		}
		.toggle-content .toggled-on .main-ul {
			display: block;
		}
		.toggle-content .toggled-off .main-ul,
		.toggle-content .main-ul {
			display: none;
		}
		.site-footer .socialcms .toggle-block {
		    display: inline-block;
		    text-align: center;
		    margin: 10px 0px 15px;
		}
		.site-footer .footer-widget .widgets-follow-us.toggled-on .widget .widget_accepted_payment_methods .accepted-payment-methods {
			display: block;
		}
		.footer-middle .widgets-follow-us, .footer-middle .widget_media_gallery ,.footer-middle .widget_accepted_payment_methods,
		.footer-middle .follow-us {
			width: 100%;
			float: none;
			text-align: left;
			display: inline-block;
			margin: 0;
		}
		.footer-middle .widget_accepted_payment_methods {
			margin-bottom: 20px;
		}
		.widgets-follow-us {
		    padding: 0;
		}
		/******************  CSS for all sidebar and footer toggle ******************/
		.site-content .entry-thumbnail img {
			width: 100%;
		}
		.woocommerce ul.products li.first,
		.woocommerce-page ul.products li.first {
			clear: none;
		}
		.team-posts-content.posts-content .container {
			width: 50%;
		}
		.woocommerce .single-product-full .woocommerce-main-image.zoom,
		.single-product-sidebar .woocommerce-main-image.zoom {
			float: right;
			padding: 0;
			width: 86%;
		}
		.home-blog .two_fifth,
		.home-blog .three_fifth {
			width: 100%;
		}
		.home-blog .blog-posts-content {
			margin: 0;
		}
		.primary-sidebar .blog-posts-content {
			padding: 32px 0 0;
		}
		#secondary .post-content-inner {
			padding: 0 5px;
		}
		.woocommerce ul.products li.product:hover .product-detail-wrapper,
		.product-detail-wrapper {
			opacity: 1;
			-khtml-opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1;
		}
		.popup-video .one_third_inner.content_inner {
			margin: 0 !important;
			width: 100% !important;
		}
		.popup-video .two_third,
		.popup-video .one_third {
			width: 100%;
		}
		.newletter-block .parallax-text-wrapper,
		.newletter-block .one_third {
			width: 100%;
		}
		.gallery-item,
		.portfolio-filter-container .item,
		.portfolios li {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 50% !important;
		}
		.footer-middle .gallery-columns-3 .gallery-item {
			width: 100% !important;
		}
		.footer-middle .gallery {
			margin-bottom: 0;
		}
		/****************** Footer ******************/
		.footer-container {
    		padding-left: 15px;
    		padding-right: 15px;
		}
		.footer-widget {
			background: transparent;
		}
		.footer-before-inner {
		    padding: 15px 0px 16px;
		}
		.first-widget,
		.second-widget{
			text-align: left;
		}
		.widget_newsletterwidget {
		    padding: 0;
		    text-align: center;
		}
		.newsletter-text {		
    		float: none;
    		padding-left: 70px;
    		margin-bottom: 15px;
		}
		.site-footer .widget_newsletterwidget .title-outer .widget-title {
			text-align: center;
			float: none;
		}
		.site-footer .widget_newsletterwidget .title-outer{
			float: none;
		    display: inline-block;
		    width: 100%;
		    clear: both;
		    margin: 0 auto;
		    text-align: center;
		}
		.footer-widget.toggled-on .accepted-payment-methods {
			text-align: center;
		}
		.widget_search {
			display: none;
		}
		.footer_top {
			margin: 30px 0;
		}
		.home-about-me {
			text-align: center;
		}
		.tmpmela-about-description {
			line-height: 24px;
		}
		.footertop .custom-text-container .text {
			margin: 0;
			text-align: center!important;
		}
		.site-footer h3.widget-title {
			margin: 0;
			padding: 10px 0;
		}
		.site-footer .widgets-follow-us h3.widget-title {
			display: block;
		}
		.footer-center {
		    padding: 20px 0px 25px;
		}
		#footer-widget-area {
			display: inline-block;
			padding: 20px 0px 0px;
			vertical-align: top;
		}
		.footer-top .widgets-follow-us .widget-title{
			display: block;
		}
		.site-footer .title-outer:before,
		.site-footer.toggled-off .title-outer:before {
			right: 0px;
		}
		.footer-widget,
		.fifth-widget.footer-widget,
		.first-widget.footer-widget,
		.follow-us,
		.widget.widgets-footercontact {
			min-height: inherit;
			width: 100%;
			padding: 0 !important;
			border: none;
			margin: 0;
		}
		.site-footer .toggle-block {
			margin: 0px 0 10px;
			float: left;
			width: 100%;
		}
		.widgets-footercontact h3.widget-title {
			display: block;
		}
		.toggled-on .newslettre-text {
			display: block;
		}
		.tnp-field.tnp-field-button{float:left;}
		.site-footer .toggle-block {
			margin: 20px 0 10px;
		}
		.site-footer h3.widget-title {
			line-height: 20px;
		}
		.footer-widget .widget.widget_accepted_payment_methods {
			margin: 15px 0 0;
		}
		.footer-widget .widget.widget_newsletterwidget {
		    display: block;
		    margin: 0;
			padding: 0;
		}
		.site-footer .address_content .contact_address {
			display: block;
		}
		.site-footer .footer-before .textwidget {
			display: inline-block;
		}
		.site-footer .footer-middle .title-outer:before, 
		.site-footer.footer-middle .toggled-off .title-outer:before,
		.site-footer .widgets-blog-posts .title-outer:before,
		.site-footer .widgets-blog-posts .toggled-off .title-outer:before,
		.site-footer .widget_newsletterwidget .title-outer:before,
		.site-footer .widget_newsletterwidget .toggled-off .title-outer:before{
			display:none;
		}
		.footer-widget .widget.widget_newsletterwidget .tnp-widget.toggle-block {
			margin-top: 0;
		}
		.site-footer .widget_newsletterwidget .toggle-block {
		    display: block;
		    margin: 0;
		    padding: 0;
		}
		/*footer cms*/
		.service-1 .service-content,
		.service-3 .service-content,
		.service-list .content {
			text-align: center;
		}
		.service-list {
			float: none;
			margin: 0;
			width: 100%;
		}
		.service-content .icon-image {
			float: none;
			display: inline-block;
			margin: 0;
		}
		.service-list .content {
			width: auto;
			float: none;
			padding: 0 5px;
			border-left: none;
			box-sizing: border-box;
		}
		.footer-widget .widget .title-outer .widget-title:after {
			bottom: 0px;
			display: none;
		}
		.footer-menu-links ul {
			margin-bottom: 20px;
		}
		.widgets-footercontact .widget-title {
			display: block;
		}
		.single-portfolio .read-more a {
			padding: 10px 10px;
		}
		.custom-testimonial .owl-theme .owl-controls {
			position: static;
			width: 60px;
			margin: 10px auto 0;
		}
		.custom-testimonial {
			width: 100%;
			padding: 0px;
			margin-top: 30px;
		    margin-bottom: 10px;
		}
		.style-1 .testimonial-wrapper {
		    margin-bottom: 0;
		}
		.testmonial-text:before{    right: 0px;}
		/****************** Start Primary navigation ******************/
		#primary-sidebar .toggled-on .toggle-block,
		#primary-sidebar .toggled-on .widget_shopping_cart_content {
			display: block;
			padding: 10px 0px;
		}
		#primary-sidebar .toggled-off .toggle-block,
		#primary-sidebar .toggled-off .widget_shopping_cart_content,
		.primary-sidebar .widget .toggle-block,
		.custom_category,
		.textbox .text1,
		#primary-sidebar .toggled-off .textwidget {
			display: none;
		}
		.mobile-menu {
			display: block;
		}
		.mega-menu {
			display: none;
		}
		
		/****Header****/
		.header-logo {
			display: none;
		}
		.admin-bar .mobile-menu {
			margin-top: 32px;
		}
		.page-title {
		    margin-top: 15px;
		    margin-bottom: 15px;
		}
		#site-navigation:before{display:none;}
		.main-navigation {
			float: left;
		    padding: 0;
		    margin: 0px;
		}
		/**Footer**/
		.footer-bottom{padding: 15px 0px 12px;}
		.site-info {
			position: static;
		}
		.socialcms {
		    float: none;
		}
		.footer-bottom-right {
		    float: none;
		}
		.paymentcms {
			float: none;
		}
		.widgets-blog-posts .owl-theme .owl-buttons {
		    right: 0;
		}
		/*********************  cms ********************/
		.cms-banner-item.style-1.align-center .cms-banner-inner .static-wrapper, 
		.cms-banner-item.style-2.align-center .cms-banner-inner .static-wrapper{
			top: 10px;
			bottom: auto;
		}
		/**********video***********/
		.video-inner span.text1 {
		    font-size: 20px;
		    line-height: 28px;
		    margin-bottom: 12px;
		}
		.video-inner span.text2 {
		    font-size: 26px;
    		line-height: 30px;
		}
		/****************/
	}
	@media only screen and (min-width: 768px) and (max-width: 979px) {
		.footertop .newsletter-subscription {
			width: 56%;
			padding: 30px 20px;
		}
		.site-footer .newsletter-email {
			width: 238px;
		}
		#navbar,
		.header_cart {
			display: block;
			padding: 0;
			position: static;
		}
		/************************CMS*************************/
		.cms-banner-item.align-left .cms-banner-inner .static-wrapper {
			left: 10px;
		}
		.cms-banner-item.align-right .cms-banner-inner .static-wrapper{    
			left: 48%;
    		right: 5px;
		}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text1.static-text {
		    font-size: 16px;
    		padding-bottom: 0px;
		}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
			 font-size: 19px;
		}
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
		    font-size: 22px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .shop-now a {
		    padding-top: 5px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .cms-text .static-inner {
		    margin-bottom: 10px;
		}
		.cms-banner-item{margin-bottom: 8px;}

		
		
	}
	@media only screen and (max-width: 767px) {
		.site {
		    margin: 0px 15px;
		}
		.woocommerce .woocommerce-ordering,
		.woocommerce .woocommerce-result-count,
		.woocommerce-page .woocommerce-ordering,
		.woocommerce-page .woocommerce-result-count {
			margin-bottom: 20px;
			text-align: center;
		}
		
		#primary .gridlist-toggle {
			float: none;
		}
		.faq-questions {
			margin: 0 -20px;
		}
		.single-product .main-content-inner {
			width: auto;
		}
		.page-title-inner,
		.main-content-inner,
		.theme-container,
		.full-width .inner-container,
		.main-content.left-sidebar,
		.site-footer .inner-container,
		.main-inner-container,
		.full-width .page-title,
		.main-content.box-page,
		.container,
		.middle-container {
			width: auto;
			margin: 0 15px !important;
		}
		.main-content.box-page.full-width,
		.main-content-inner .home-page,
		.main-content.blog-page.blog-list.box-page,
		.main-content-inner .main-content.box-page {
			margin: 0px !important;
		}
		.woocommerce ul.products li.product,
		.woocommerce-page ul.products li.product,
		.brands.list ul li {
			width: 32.7% !important;
		}
		.products_block .owl-theme .owl-buttons div.owl-prev,
		.owl-theme .owl-buttons div.owl-prev {
			left: 0;
		}
		.products_block .owl-theme .owl-buttons div.owl-next,
		.owl-theme .owl-buttons div.owl-next {
			right: 0
		}
		
		#primary,
		.left-sidebar #primary,
		.homepage #home_primary,
		#secondary,
		.full-width .page-title {
			width: 100%;
		}
		.content_inner {
			width: 100% !important;
			margin: 0 !important;
		}
		.footertop .content_inner,
		.widget .banner-slider-container ul li {
			text-align: center;
		}
		.navbar,
		.header_cart {
			display: block;
			padding: 0;
			position: static;
		}
		.home .box-category-heading,
		.box-category-heading {
			cursor: pointer;
			width: 100%;
		}
		/****************** Header ******************/
		.header_logout a {
			display: block;
		}
		.woocommerce .woocommerce-result-count,
		.woocommerce-page .woocommerce-result-count,
		.woocommerce .woocommerce-ordering,
		.woocommerce-page .woocommerce-ordering {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		.woocommerce.list-view .woocommerce-result-count,
		.woocommerce-page.list-view .woocommerce-result-count {
			display: block;
		}
		.header-center {
			margin-top: 0;
		}
		.email-block {
			padding-left: 25px;
		}
		
		.page-title .entry-title-main,
		.breadcrumbs,
		.woocommerce .woocommerce-breadcrumb,
		.woocommerce-page .woocommerce-breadcrumb ,
		.single-product.woocommerce .woocommerce-breadcrumb{
			float: none;
			text-align: center;
			width: 100%;
			margin-bottom: 5px;
		}
		/****************** Content ******************/
		.blog-posts-content .container.style-2 .container-inner {
			margin: 0px;
		}
		.single_variation_wrap {
			overflow: visible;
		}
		.woocommerce .single-product-full .woocommerce-main-image.zoom,
		.woocommerce .single-product-full .woocommerce-main-image.zoom,
		.single-product-sidebar .woocommerce-main-image.zoom {
			width: 100%;
		}
		#content div.product div.images .bx-wrapper .bx-controls-direction a,
		#content div.product div.images .bx-wrapper:hover .bx-controls-direction a {
			opacity: 1;
			-khtml-opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1;
		}
		#content div.product div.images .bx-wrapper {
			display: inline-block;
			float: none;
		}
		.woocommerce #content .product div.images {
			text-align: center;
		}
		.woocommerce .cart-collaterals .cart_totals,
		.woocommerce-page .cart-collaterals .cart_totals {
			width: 100%;
		}
		.woocommerce .col2-set .col-1,
		.woocommerce-page .col2-set .col-1,
		.woocommerce .col2-set .col-2,
		.woocommerce-page .col2-set .col-2 {
			margin-bottom: 20px;
			box-sizing: border-box;
			width: 100%;
		}
		.woocommerce ul.products li .container-inner, 
		.woocommerce-page ul.products li .container-inner{
			max-width: 274px;
		}
		.woocommerce ul.products.list .container-inner,
		.woocommerce-page ul.products.list .container-inner{
			text-align:center;
		}
		.woocommerce ul.products.list .container-inner .image-block,
		.woocommerce-page ul.products.list .container-inner .image-block {
			margin: 0 auto;
			max-width: 278px;
			display: inline-block;
			float: none;
		}
		.woocommerce ul.products.list li.product .product-detail-wrapper, 
		.woocommerce-page ul.products.list li.product .product-detail-wrapper, 
		.list .product-detail-wrapper {
			padding: 20px 0;
			width: 100%;
			box-sizing: border-box;
			text-align: center;
		}
		.woocommerce ul.products.list li.product .star-rating, .woocommerce-page .products.list .star-rating {
			margin: 5px auto 15px;
		}
		.woocommerce ul.products.list li .container-inner .product-block-inner .product-button-outer, 
		.woocommerce-page ul.products.list li .container-inner .product-block-inner .product-button-outer{margin-left:auto;margin-right:auto;}
		.hot-porduct .product {
			display: inline-block;
			float: none;
			vertical-align: top;
			width: 50% !important;
		}
		.blog-posts-content .blog-grid .item.style-3 {
			width: 100%;
		}
		.main-container .resp-tabs-list {
			margin: -7px 60px -2px 0;
		}
		#yith-quick-view-content div.images,
		#yith-quick-view-content div.summary {
			float: none;
			width: 100%;
		}
		#yith-quick-view-content div.summary {
			float: left;
			margin: 0;
			padding: 15px;
			width: 100%;
		}
		/****************** Shortcode  ******************/
		.style-2 .service-content {
			text-align: center;
		}
		.tmpmela_about .image-right .about_image,
		.tmpmela_about .image-left .about_content,
		.tmpmela_about .image-left .about_image,
		.tmpmela_about .image-right .about_content {
			width: 100%;
			text-align: center;
		}
		.aboutus .banner-slider-container {
			text-align: center;
		}
		.service-list{border:none;}
		
		/****************** Footer ******************/
		.footertop .custom-text-container {
			display: inline-block;
		}
		.site-footer .newsletter tr,
		.site-footer .newsletter tbody,
		.site-footer .newsletter table,
		.site-footer .newsletter td {
			display: inline-block;
			float: none;
			vertical-align: top;
			text-align: center;
		}
		.site-footer .newsletter td {
			display: block;
		}
		.sitemap-item,
		.contact_form form {
			width: 100%;
		}
		.contact_form .address-container .icon {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		.woocommerce-MyAccount-navigation {
			width: 100%;
			margin: 0 0 30px 0;
		}
		.woocommerce-MyAccount-content {
			overflow: visible;
		}
		.cms-banner-item img {
			width: 100%;
		}
		
		.testmonial-text {
			float: none;
			text-align: center;
			margin-bottom: 10px;
		}
		.style-2 .testmonial-text {
			padding: 0;
			padding-top: 50px;
			background-position: center 0;
		}
		.testmonial-text:before{display:none;}
		.custom-testimonial .testimonial-content {
			width: 100%;
		}
		.custom-testimonial .owl-theme .owl-buttons {
			position: static;
			margin-top: 10px;
		}
		.site-footer .toggle-block {
			margin: 10px 0px;
		}
		.testimonial-top blockquote {
			text-align: center;
		}
		/************* cart page **********/
		.woocommerce table.my_account_orders tr td.order-actions:before,
		.woocommerce table.shop_table_responsive tr td.actions:before,
		.woocommerce table.shop_table_responsive tr td.product-remove:before,
		.woocommerce-page table.my_account_orders tr td.order-actions:before,
		.woocommerce-page table.shop_table_responsive tr td.actions:before,
		.woocommerce-page table.shop_table_responsive tr td.product-remove:before {
			display: none;
		}
		.woocommerce-page #content table.cart .product-thumbnail:before,
		.woocommerce-page table.cart .product-thumbnail:before {
			content: attr(data-title)" ";
		}
		.woocommerce table.shop_table_responsive tbody th,
		.woocommerce table.shop_table_responsive thead,
		.woocommerce-page table.shop_table_responsive tbody th,
		.woocommerce-page table.shop_table_responsive thead {
			display: none;
		}
		.woocommerce table.shop_table_responsive tr,
		.woocommerce-page table.shop_table_responsive tr {
			display: block;
		}
		.woocommerce table.shop_table_responsive tr td:before,
		.woocommerce-page table.shop_table_responsive tr td:before {
			content: attr(data-title)": ";
			float: left;
			font-weight: 700;
			color: #000;
		}
		.woocommerce table.shop_table_responsive tr td,
		.woocommerce-page table.shop_table_responsive tr td {
			display: block;
			text-align: right;
		}
		.woocommerce #content table.cart .product-thumbnail,
		.woocommerce table.cart .product-thumbnail,
		.woocommerce-page #content table.cart .product-thumbnail,
		.woocommerce-page table.cart .product-thumbnail {
			text-align: center;
		}
		.woocommerce .cart-collaterals .cart_totals a.button.alt,
		.woocommerce-page .cart-collaterals .cart_totals a.button.alt {
			width: 100%;
		}
		.quantity {
			max-width: 270px;
			position: relative;
		}
		td.product-quantity .quantity {
			float: right;
		}
		.woocommerce #content table.cart td.actions .coupon,
		.woocommerce table.cart td.actions .coupon,
		.woocommerce-page #content table.cart td.actions .coupon,
		.woocommerce-page table.cart td.actions .coupon {
			float: none;
			padding-bottom: 0.5em;
		}
		.woocommerce #content table.cart td.actions .button,
		.woocommerce table.cart td.actions .button,
		.woocommerce-page #content table.cart td.actions .button,
		.woocommerce-page table.cart td.actions .button {
			width: 100%;
		}
		.woocommerce #content table.cart td.actions .coupon .input-text,
		.woocommerce table.cart td.actions .coupon .input-text,
		.woocommerce-page #content table.cart td.actions .coupon .input-text,
		.woocommerce-page table.cart td.actions .coupon .input-text {
			margin: 0 0 10px;
		}
		.woocommerce #content table.cart td,
		.woocommerce #content table.cart th,
		.woocommerce table.cart td,
		.woocommerce table.cart th,
		.woocommerce-page #content table.cart td,
		.woocommerce-page #content table.cart th,
		.woocommerce-page table.cart td,
		.woocommerce-page table.cart th {
			float: left;
			width: 100%;
			text-align: right;
			padding: 10px!important;
		}
		.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
		.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
			background-color: rgba(0, 0, 0, 0.02);
		}
		.shop_table.cart.wishlist_table thead {
			display: none;
		}
		.title-description {
			box-sizing: border-box;
			padding: 0 15px !important;
		}
		.admin-bar .mobile-menu {
			top: 45px;
			margin-top:0;
		}
		.service-content {
			display: block;
			margin-bottom: 15px;
		}
		.tmpmela-single-banner .text2.static-text {
			font-size: 25px;
			line-height: 25px;
		}
		.single-portfolio .read-more a {
			padding: 6px 10px;
		}
		.tmpmela-single-banner .static-wrapper {
			top: 15%;
		}
		.tmpmela-single-banner .text2.static-text {
			margin-bottom: 10px;
		}
		.cms-middle .cms-text .static-text {
			font-size: 28px;
			line-height: 40px;
		}
		.counter .jumbo:after{display:none;}
		
		/*3 column cms*/
		.cms-1,.cms-2,.cms-3{width:100% !important; text-align:center;}
		.cms-left .cms-banner-item,
		.cms-center .cms-banner-item,
		.cms-right .cms-banner-item,
		.cms-1,.cms-2,.cms-3{
			padding-right:0px !important;
			padding-left:0px !important;
		}
		.style-2 .static-wrapper {
			top: 15px;
		}
		.cz-service .wpb_column.vc_col-sm-3 {
			width: 50% !important;
			float: left !important;
		}
		.cms-left, .cms-center, .cms-right{
			padding: 0PX !important;
		}
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
   			font-size: 32px;
		}	
		/**********video***********/
		.video-inner span.text1 {
		    display: none;
		}
		/****************/
	}


	@media only screen and (min-width: 651px) and (max-width: 767px) {

		.count-down.product-count-down {
		    padding: 0px 3px;
		    bottom: 3px;
		}
		.count-down .countbox.hastime{
		    padding: 0px;
		}
		.count-down .countbox.hastime .timebox {
		    margin-right: 5px;
		}
		.count-down .countbox.hastime .timebox:after {
		    right: -7px;
		}
	}
	@media only screen and (max-width: 650px) {
		.single-image .cms-left,
		.single-image .cms-center,
		.single-image .cms-right{
			width: 100% !important;
			float: none !important;
			padding: 0px !important;
			margin-bottom: 20px !important;
		}
		.header-offer {
		    display: none;
		}
		.tmpmela-newsletter-form .tnp-subscription input[type="email"] {
			width: auto;
		}
		.normal-title,
		.upsells.products > h2,
		.related.products h2,
		.cross-sells > h2 {
			font-size: 16px;
		}
		.resp-tabs-list {
			padding-bottom: 10px;
			position: static;
			text-align: left;
		}
		.resp-tabs-list li .tab-title{
			margin-left: 0px;
			margin-right: 30px;
		}
		.resp-tabs-list li .tab-title:after {
			border: 0;
		}
		.resp-tabs-list li:after {
			border: 0 none;
		}
		.close-btn:before {
			padding: 2px 3px;
		}
		.main-container .resp-tabs-list {
			display: inline-block;
			margin: 0 0 36px!important;
			vertical-align: top;
			position: relative;
		}
		.tmpmela-about-description {
			border: none;
			position: relative;
		}
		.footer_left,
		.footer_right,
		.tmpmela-about-text a,
		.tmpmela-about-description {
			display: inline-block;
			float: none;
			margin: 10px auto;
			padding: 0;
			text-align: center;
			width: 100%;
		}
		.tmpmela-about-description {
			text-align: center;
		}
		.follow-us {
			padding: 0;
		}
		.portfolio-filter-container .options li a {
			margin: 0;
		}
		.entry-header .entry-title {
			font-size: 22px;
		}
		/****************** Content ******************/
		.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
		.woocommerce div.product .woocommerce-tabs ul.tabs li,
		.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
		.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
			width: 100%;
			margin: 0;
		}
		.woocommerce-tabs ul.tabs li {
			padding: 4px 0;
		}
		table {
			display: inline-table;
			float: left;
			overflow: auto;
			width: 100%;
		}
		.options li,
		.options li:first-child {
			margin: 0 0 5px 0;
			width: 100%;
		}
		.woocommerce ul.products li.product,
		.woocommerce-page ul.products li.product,
		.brands.list ul li {
			width: 49.5% !important;
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		.style-1 .testmonial-image {
			float: none;
		}
		.style-1 .product-block .custom-testimonial-inner {
		    padding: 0px 5px;
		}
		.style-1 .testimonial-wrapper {
		    margin: 0px;
    		padding: 60px 0px 0;
		}
		.custom-testimonial .style-1 .testimonial-wrapper .testimonial-content:before {
		    left: 0;
		    right: 0;
		    top: 15px;
		    margin: 0px auto;
		}
		.entry-content .style-1 .testimonial-content blockquote {
		    text-align: center;
		}
		.style-1 .testmonial-text {
		    text-align: center;
		}
	}
	@media only screen and (max-width: 575px) {
		/*****************cms******************/	
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper, 
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper {
			left: 47%;
			top: 15%;
			right: 5px;
		}
		.cms-banner-item.align-left .cms-banner-inner .static-wrapper{left:20px;}

		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text1.static-text{  font-size: 20px;}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text{    font-size: 24px;}
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
			font-size: 30px;
			line-height: 35px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .cms-text .static-inner {
		    margin-bottom: 20px;
		}
		/****************/

		.site-footer .widget_newsletterwidget .title-outer .widget-title {
		    background: none;
		    padding-right: 0;
		    padding-left: 0;
		    font-size: 17px;
		    line-height: 22px;
		    padding-top: 10px;
		    padding-bottom: 0;
		}
		.site-footer .widget_newsletterwidget .title-outer .widget-title:before{display: none;}
		.newsletter-text{padding: 0;}
		.count-down.product-count-down {
		    padding: 0px 3px;
		    bottom: 3px;
		}
		.count-down .countbox.hastime{
		    padding: 0px;
		}
		.count-down .countbox.hastime .timebox {
		    margin-right: 5px;
		}
		.count-down .countbox.hastime .timebox:after {
		    right: -7px;
		}
	}
	@media only screen and (max-width: 479px) {
		.site {
		    margin: 0px 10px;
		}
		.page-title-inner, .main-content-inner, 
		.theme-container , .full-width .inner-container, 
		.main-content.left-sidebar, .site-footer .inner-container, 
		.main-inner-container, .full-width .page-title, 
		.container, .middle-container {
		    width: auto;
		    margin: 0 10px !important;
		}
		.theme-container.cz-category,
		.home .site-content .theme-container {
		    margin: 0 !important;
		}
		.main-content.box-page{
		    margin: 0px !important;
		}

		.owl-theme .owl-buttons {
		    right: 15px;
		}
		.header-center {
			top: 15px;
		}
		.header-cart .togg:before{display:none;}
		.home .cz-categories, .cz-categories {
		    width: 100% !important;
		}
		.entry-date {
			font-size: 12px;
			letter-spacing: 0;
		}
		.post-inner-top {
			margin-top: -70px;
			height: 78px;
			width: 80px;
			border-width: 3px;
		}
		.blog-icon {
			margin-bottom: 8px;
			padding-bottom: 4px;
		}
		.entry-thumbnail .block_hover .links {
			top: 35%;
		}
		.owl-theme .owl-buttons div {
			opacity: 1;
			-khtml-opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1;
		}
		/****************** Header ******************/
		.text-contact {
			font-size: 14px;
			margin-bottom: 3px;
		}
		.woocommerce .single-product-full #content .product div.images,
		.woocommerce .single-product-sidebar #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page .single-product-sidebar #content div.product div.images,
		.woocommerce-page div.product div.images {
			width: auto;
		}
		.woocommerce ul.products li .container-inner .product-block-inner, 
		.woocommerce-page ul.products li .container-inner .product-block-inner{
			max-width: 274px;
		}
		.posts-content .owl-item .container-inner,
		.portfolio-carousel .portfolio-main {
			text-align: center;
			display: block;
		}
		.blog-posts-content .post-content-inner {
			float: none;
		}
		/****************** Content ******************/
		.woocommerce #content div.product form.cart div.quantity,
		.woocommerce div.product form.cart div.quantity,
		.woocommerce-page #content div.product form.cart div.quantity,
		.woocommerce-page div.product form.cart div.quantity {
			margin-bottom: 10px;
		}
		.woocommerce ul.products li.first,
		.woocommerce-page ul.products li.first {
			clear: none;
		}
		.woocommerce ul.products li.product,
		.woocommerce-page ul.products li.product,
		.brands.list ul li,
		.hot-porduct .product {
			width: 99.1% !important;
		}

		#woo-products, .woocommerce ul.products.grid, .woocommerce-page ul.products.grid {
		    margin: 0px -10px;
		}
		.team-posts-content.posts-content .container {
			width: 100%;
		}
		.gallery-item,
		.portfolio-filter-container .item,
		.portfolios li {
			width: 100% !important;
		}
		.woocommerce form .form-row-first,
		.woocommerce form .form-row-last,
		.woocommerce-page form .form-row-first,
		.woocommerce-page form .form-row-last {
			width: 100%;
		}
		.site-footer .newsletter tr,
		.site-footer .newsletter-email,
		.site-footer .newsletter .newsletter-submit {
			width: 100%;
		}
		.newsletter-td-submit {
			padding: 5px 0 !important;
		}
		/****************** Shortcode ******************/
		.pricing_wrapper {
			padding: 20px 0;
		}
		.entry-summary .count-down {
			width: 70%;
		}
		.vertical_tab .tab_groupcontent,
		.horizontal_tab #tab ul li {
			width: 100%;
			margin: 0;
		}
		#tab ul.tabs {
			width: 100% !important;
			margin: 0;
		}
		#tab ul li a {
			display: block;
		}
		.address-text-inner {
			text-align: center;
		}
		.address-text .icon {
			border-width: 0 0 1px;
			box-sizing: border-box;
			padding: 15px 0;
			width: 100%;
		}
		/****************** Footer ******************/
		.newsletter.newsletter-subscription > form,
		.tnp.tnp-subscription > form {
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}
		.tmpmela-newsletter-form .tnp-subscription input[type="email"] {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
			-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
			-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
			width: 100%;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-o-border-radius: 50px;
			-moz-border-radius: 50px;
		}
		.tmpmela-newsletter-form input[type="submit"] {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
			-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
			-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-o-border-radius: 50px;
			-moz-border-radius: 50px;
			width: 100%;
			float: none;
		}
		.vertical_tab.style2 #tab ul li a.current,
		.vertical_tab.style2 #tab ul li a:hover {
			border-right: 1px solid #e5e5e5;
		}
		.horizontal_tab.style2 #tab ul li a.current,
		.horizontal_tab.style2 #tab ul li a:hover {
			border-bottom: 1px solid #e5e5e5;
		}
		.big-title {
			font-size: 34px;
		}
		.left-part {
			float: none;
			margin: 0 auto;
		}
		.right-part {
			padding-left: 0;
			text-align: center;
			padding-top: 30px;
		}
		.tmpmela-single-banner .text2.static-text {
			font-size: 16px;
			margin-bottom: 10px;
			line-height: 20px;
		}
		.tmpmela-single-banner .text1.static-text {
			font-size: 16px;
			line-height: 20px;
		}
		.header-search .search-form , .header-search .woocommerce-product-search{
			top: 50px;
		}
		.site-content .entry-content-inner {
			margin: 0;
		}
		
		.cz-service .wpb_column.vc_col-sm-3 {
			width: 100% !important;
			float: none !important;
		}
		.home-single-product {
		    margin: 0px;
		}
		
		/************************CMS*************************/
		.cms-banner-item.align-left .cms-banner-inner .static-wrapper {
			left: 10px;
		}
		.cms-banner-item.align-right .cms-banner-inner .static-wrapper{    
			left: 48%;
    		right: 5px;
		}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text1.static-text {
		    font-size: 16px;
    		padding-bottom: 0px;
		}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
			 font-size: 19px;
		}
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
		    font-size: 22px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .cms-text .static-inner {
		    margin-bottom: 10px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .shop-now a {
			font-size: 12px;
		    line-height: 10px;
		    padding: 5px 13px 7px;
		}
		.cms-banner-item{margin-bottom: 8px;}

		/*************video*************/

		.video-inner span.text2 {
			font-size: 18px;
			line-height: 20px;
		}
		.video-button {
			margin-top: 8px;
			width: 32px;
		}
		/*********/
		.count-down.product-count-down{display: none;}
	}

	@media only screen and (min-width: 400px) and (max-width: 650px) {
		.woocommerce ul.products li.product,
		.woocommerce-page ul.products li.product,
		.brands.list ul li,
		.hot-porduct .product {
			width: 49.4% !important;
		}
	}
	@media only screen and (min-width: 401px) and (max-width: 479px) {
		
	}

	@media only screen and (max-width: 400px) {		
		#woo-products, .woocommerce ul.products.grid, .woocommerce-page ul.products.grid {
		    margin: 0px;
		}
	}
@media only screen and (max-width: 379px) {
		.single-portfolio .read-more a {
			line-height: 14px;
			padding: 5px 10px;
		}
		.header-search .woocommerce-product-search, .header-search .search-form {
			right: -80px;
		}
		.widgets-headercontact.widget .toggle-block {
		    left: 0;
		    right: auto;
		}
		.header-search {
			margin-right: 10px;
		}
		.header-right {
		    margin-right:45px;
		}
		.site-footer .newsletter .newsletter-submit, .site-footer .tnp .tnp-submit {
		    padding-left: 10px;
		    padding-right: 10px;
		}
		.site-footer .newsletter-email, .tnp-email {
		    padding-right: 100px;
		}
		/************************CMS*************************/
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper, 
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper{
			top: 5px;
		}
		.cms-banner-item.align-left .cms-banner-inner .static-wrapper {
			left: 10px;
		}
		.cms-banner-item.align-right .cms-banner-inner .static-wrapper{    
			left: 45%;
    		right: 5px;
		}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text1.static-text {
		    font-size: 15px;
    		padding-bottom: 0px;
		}
		.cms-banner-item.style-1 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
			 font-size: 17px;
		}
		.cms-banner-item.style-2 .cms-banner-inner .static-wrapper .cms-text .static-inner .text2.static-text {
		    font-size: 19px;
    		line-height: 20px;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .shop-now a {
			padding: 0px;
		    background: none;
		    color: #000000;
		    font-size: 13px;
		    text-decoration: underline;
		}
		.cms-banner-item .cms-banner-inner .static-wrapper .shop-now a:hover {
			text-decoration: none;
    		background: none;
		}
		.cms-banner-item{margin-bottom: 8px;}
		/*************video*************/
		.video-inner{
			left: 0;
			right: 0;
			text-align: center;
			display: inline-block;
		}
		.video-inner span.text2 {
			display: none;
		}
		.video-button {
			margin: 0;
		}
		/*********/
		.countbox .timebox {
		    margin-right: 3px;
		    margin-bottom: 3px;
		}
}